.breadcrumbs
{
  display: block;
  padding: 0.5625rem 0 0.5625rem 0;
  overflow: hidden;
  margin-top: 56px;
  margin-left: 0px;
  list-style: none;
  border-bottom: solid 1px #E4E4E4;
  width: 100%;
}
.breadcrumbs ul li
{
  display: inline;
}

.breadcrumbs ul
{

  list-style-type:none;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  text-transform: uppercase;
  color: #334D5C;
}
.breadcrumbs li:before
{
  content: "/";
  color: #aaa;
  margin: 0 0.75rem;
  position: relative;
  top: 1px;
}
.breadcrumbs li.current {
  font-weight: bold;
}
.breadcrumbs li.current {
  cursor: default;
  color: #333;
}
.breadcrumbs li a {
  color: #1a6bc7;
  text-decoration:none;
}
